@import url('https://fonts.google.com/specimen/Roboto');

:root {
    --light-blue: #97BDE8; 
    --dark-blue: #144D8C; 
  }

body {
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif; 
    overflow-x:hidden; 
}

a {
    text-decoration: underline; 
    color: var(--dark-blue);
}

a:hover {
    background-color:var(--light-blue)
}

.bold-text {
    font-weight: 700; 
}

/* HEADER STYLING */

#header {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px; 
}

#header-img {
    height: 100%;
    width: 100%;
}

#header-text {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 5rem; 
    color:white; 
    font-weight:700; 
}

h2 {
    font-size: 2rem; 
    color:white; 
    font-weight:400; 
}

/* MAIN BODY OVERALL STYLING */

.container {
    margin-top: 40px; 
}

.row {
    display: flex;
    margin-left: 5%; 
    margin-right: 5%; 
}

.left-col {
    flex: 50%;
    position: relative; 
}

.right-col {
    flex: 50%;
    position: relative; 
}

.full-col {
    flex: 100%; 
    position: relative; 
}

.vertical-center {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
}


.blue-separator {
    width:90%; 
    height:30px; 
    background-color: var(--light-blue); 
    margin:0 auto; 
    margin-top: 40px; 
    margin-bottom: 40px; 
}

h3 {
    font-weight:400; 
    font-size: 1.5rem; 
}

h4 {
    font-weight:700; 
    color: var(--dark-blue);
    font-size: 1.5rem; 
}

h5 {
    font-weight: 700; 
    font-size:1.25rem; 
}

.sub-rectangle{
    width:50%; 
}

p {
    font-size: 1rem; 
}

#left-third-col{
    flex: 33%;
    margin-right: 20px;  
}

#middle-third-col{
    flex: 33%; 
    margin-right: 20px; 
}

#right-third-col{
    flex: 33%; 
}

.action-title {
    font-weight:700; 
}

/* SPECIFIC STYLING */

#sheena-img {
    width: 50%;
}

#xAxisTitle {
    margin-left: 25%; 
    font-size:0.8rem; 
    margin-top: 2%

}

#contract-hours-img {
    width:60%; 
}

#orange-teacher {
    width:100px; 
    margin-left:100px;
}

#student-ratio-breakdown {
    width: 150%; 
    position: relative; 
    left: -250px; 
}


#teacher-in-class-img {
    width:50%; 
}

.img-with-background {
    position: relative;
    text-align: center;
}

.img-with-background::before {
    position: absolute;
    bottom: -10%;
    left: 35%;
    width: 50%;
    height: 100%;
    background-image: url(assets/yellow-rectangle-tall.png);
    content: "";
    z-index: -1;
}



/* Requirements */
.requirement-scroll-background {
    width:100%;
    /* height:1600px; */
}

.requirements-container {
    /* position: fixed; */
    top:500px;
    left:0;
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    margin: 100px 0px;
}

.requirement-each {
    width: 20%;
    position: relative;
}

.requirement-each::after {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: lightblue; 
    content: "";
    z-index: -1;
    border: 1px solid darkgray;    

}

.requirement-icon {
    width: 100px;
}


/* WAGE STYLING */

.wage-label-container {
    display: flex;
    align-items: center;
    padding: 5px;
}

/* PIE CHART STYLING */

.pie-chart-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.pie-text {
    align-self: center;
    width: 300px;
    height: 200px;
}

.teacher-amount-img {
    height: 150px;
    margin-left: 30%;
}


/* FOOTER STYLING */

#footer {
    margin-top: 80px; 
    width:100%; 
    background-color: var(--dark-blue); 
    position: relative;
    padding: 20px; 
}

#footer p {
    color: white; 
}

#footer img {
    width:110px; 
    border-radius:50%; 
    margin-right:50px; 

}

#footer img:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
}

#footer a:hover {
    background: unset; 
}

/* GENERAL */

.margin-top-80px {
    margin-top: 80px;
}

.center {
    text-align: center;
}

.margin-left-50px {
    margin-left: 50px;
}

.margin-top-10px {
    margin-top: 10px;
}